* {
  position: static;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: normal;
  font-family: sans-serif;
  box-sizing: border-box;
}

*:focus {
  border: none;
  outline: none;
}

head,
script,
link {
  display: none;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  background: #000;
}

.container {
  float: left;
}

.hide {
  display: none;
}

.board {
  position: relative;
  height: 90%;
}

.board #main-board,
.board #preview-board {
  position: absolute;
  top: 0;
  height: 100%;
}

.controller {
  height: 10%;
}

.controller .container {
  height: 100%;
}

.controller .color-preview {
  width: 10vh;
  background: yellow;
  border: 0.5em solid #444;
}

.controller .tool-box {
  width: calc(25% - 10vh);
  background: black;
}

.controller .tool-box .tools {
  width: 20%;
  height: 100%;
}

.controller .tool-box .tools button {
  width: 50% !important;
  height: 50%;
  float: left;
  font-weight: bolder;
  font-size: 1.5em;
  background: #aaaa00;
}

.controller .tool-box .tools button:hover {
  background: #777700;
}

.controller .tool-box .tools button:active {
  background: #555500;
}

.controller .tool-box .tools button.selected {
  color: white;
}

.controller .tool-box input {
  width: 80% !important;
  float: left;
}

.controller .color-pallet {
  width: 50%;
  background: black;
}

.controller .color-pallet ul {
  height: 100%;
}

.controller .color-pallet ul li {
  float: left;
  width: calc(100% / 7);
  height: 100%;
  transition: 200ms;
  text-align: center;
  font-size: 2em;
  color: #444;
  padding-top: 0.5em;
}

.controller .color-pallet ul li:hover {
  transform: scale(0.9);
  border-radius: 10%;
}

.controller .history {
  width: 25%;
  background: black;
}

.controller .history button {
  width: calc(100%/3);
  float: left;
  height: 100%;
  font-size: 2em;
  font-weight: bolder;
  background: #444;
  color: #777;
  transition: 200ms;
}

.controller .history button:nth-child(2) {
  background: #777;
  color: #444;
}

.controller .history button:nth-child(3) {
  background: salmon;
  color: #990000;
  border: 0.25em solid red;
}

.controller .history button:nth-child(3):hover {
  background: #b30000 !important;
  border-color: red !important;
  color: red;
}

.controller .history button:nth-child(3):active {
  color: red !important;
  background: #660000 !important;
  border-color: red !important;
}

.controller .history button:hover {
  background: #aaa !important;
  color: white;
  border-color: white !important;
  font-size: 2.5em;
}

.controller .history button:active {
  background: #fff !important;
  color: #444;
}

input[type=range].slider {
  -webkit-appearance: none;
  height: 50%;
  width: 100%;
  margin: 0px 0;
}

input[type=range].slider:focus {
  outline: none;
}

input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #444;
}

input[type=range].slider::-webkit-slider-thumb {
  height: 100%;
  width: 15px;
  background: red;
  border: 5px solid salmon;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0;
}

input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 32px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffd6;
  border-radius: 0px;
  border: 0px solid #010101;
}

input[type=range].slider::-moz-range-thumb {
  box-shadow: 0.8px 0.8px 1.9px rgba(0, 0, 62, 0.67), 0px 0px 0.8px rgba(0, 0, 88, 0.67);
  border: 1.9px solid rgba(0, 30, 0, 0.57);
  height: 32px;
  width: 32px;
  border-radius: 4px;
  background: #3071a9;
  cursor: pointer;
}

input[type=range].slider::-ms-track {
  width: 100%;
  height: 32px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range].slider::-ms-fill-lower {
  background: #f5f500;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range].slider::-ms-fill-upper {
  background: #ffffd6;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range].slider::-ms-thumb {
  box-shadow: 0.8px 0.8px 1.9px rgba(0, 0, 62, 0.67), 0px 0px 0.8px rgba(0, 0, 88, 0.67);
  border: 1.9px solid rgba(0, 30, 0, 0.57);
  width: 32px;
  border-radius: 4px;
  background: #3071a9;
  cursor: pointer;
  height: 32px;
}

input[type=range].slider:focus::-ms-fill-lower {
  background: #ffffd6;
}

input[type=range].slider:focus::-ms-fill-upper {
  background: #ffffff;
}

input[type=range].slider.dark::-webkit-slider-runnable-track {
  background: #222;
}